ADFSimple/pipeline/Process_Model.json
{
	"name": "Process_Model",
	"properties": {
		"activities": [
			{
				"name": "WEB - Token AD",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://login.microsoftonline.com/'\n,pipeline().parameters.TenantID\n,'/oauth2/token'\n)",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@concat('grant_type=client_credentials&client_id='\n,pipeline().parameters.ClientID\n,'&client_secret='\n,pipeline().parameters.ClientSecret\n,'&resource=https://'\n,pipeline().parameters.Region\n,'.asazure.windows.net'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "WEB - Actualisation SSAS",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "WEB - Token AD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(replace(pipeline().parameters.Server,'asazure://','https://')\n,'/models/',pipeline().parameters.DatabaseName\n,'/refreshes')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer '\n,activity('WEB - Token AD').output\n)",
							"type": "Expression"
						},
						"Content-Type": "application/json"
					},
					"body": "{\n    \"Type\": \"Full\",\n}"
				}
			},
			{
				"name": "Until - Process Termine",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "WEB - Actualisation SSAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('ProcessEnCours')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Web - Liste actualisation",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat(replace(pipeline().parameters.Server,'asazure://','https://')\n,'/models/',pipeline().parameters.DatabaseName\n,'/refreshes')",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@concat('Bearer ',activity('WEB - Token AD').output.access_token)",
										"type": "Expression"
									},
									"Content-Type": "application/json"
								},
								"body": "{\n    \"Type\": \"Full\",\n}"
							}
						},
						{
							"name": "Filter - En cours",
							"type": "Filter",
							"dependsOn": [
								{
									"activity": "Web - Liste actualisation",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@json(activity('Web - Liste actualisation').output.Response)",
									"type": "Expression"
								},
								"condition": {
									"value": "@equals(item().status,'inProgress')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set - ProcessEnCours",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Filter - En cours",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ProcessEnCours",
								"value": {
									"value": "@less(activity('Filter - En cours').output.FilteredItemsCount,1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait - 60s",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Set - ProcessEnCours",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 60
							}
						}
					],
					"timeout": "0.01:00:00"
				}
			}
		],
		"parameters": {
			"TenantID": {
				"type": "string",
				"defaultValue": "18907841-8c13-49e8-9fc3-7f8b8fcbc2f5"
			},
			"ClientID": {
				"type": "string",
				"defaultValue": "f2280bac-61b9-4feb-9f69-c4e5e5f32644"
			},
			"ClientSecret": {
				"type": "string",
				"defaultValue": "cZmdM/oHzqDz2ziwVMkyzkWKu9pAxv6jUepkZJaFl9Y="
			},
			"Region": {
				"type": "String",
				"defaultValue": "northeurope"
			},
			"Server": {
				"type": "String",
				"defaultValue": "asazure://northeurope.asazure.windows.net/meetup"
			},
			"DatabaseName": {
				"type": "String",
				"defaultValue": "MeteoSampleModel"
			}
		},
		"variables": {
			"ProcessEnCours": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "Technique"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}